<table class='table table-hover table-inverse'>

    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>opininon</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="book">
    <% books.each do |book| %>
      <tr>
        <td><%= attachment_image_tag(book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg",size:"50x50") %></td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
    </tbody>
</table>